asgiref==3.9.1
certifi==2025.7.9
charset-normalizer==3.4.2
cloudinary==1.44.1
Django==5.2.4
django-cloudinary-storage==0.3.0
dotenv==0.9.9
gunicorn==23.0.0
idna==3.10
imagekitio==4.1.0
mysqlclient==2.2.7
packaging==25.0
pillow==11.3.0
python-dotenv==1.1.1
requests==2.32.4
requests-toolbelt==0.10.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==1.26.20
dj-database-url
psycopg2-binary
